/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #3d3d3d;
  background: black;
  margin:0%;
}
  
#wrapper{
  width:100%;
}

  /* Link and Font styling */
a, a:focus{
  text-decoration: none;
  outline:none;
  color: #fff;
}
img {
	margin: 2.5%;
}
/*HideSeek styles*/
INPUT[type="text"] {
  width: initial;
}